
*_log.txt
*.log
LastExtraction.lst
shot***.bmp
*.mem
LastExtraction.lst
Last_Crash_*.txt
savegame.*
backgame.*
log_tom2pc.txt
autosave.prj
NG_Settings.bin
NG_Tom2Pc_Last_Log.txt
*.lnk
DETECTED CRASH.txt
db_patches_crash.bin
Script/.vscode/
Exported_*.txt
*.trw
Crash_Report_*.txt
db_patches_crash.bin
NG_Settings.bin
db_patches_crash.bin
NG_Settings.bin
*_warm_up_log.txt
flep.cfg
*t5m*.*
*.trmvb
*.zip
/Graphics/Wads/*.3ds
/Graphics/Wads/*.tga
/Graphics/Wads/*.trw
Graphics/Wads/catatest.was
Graphics/Wads/catatest.wad
Graphics/Wads/catatest.swd
Graphics/Wads/catatest.sfx
Graphics/Wads/catatest.sam
tomb4.bak_before_new_flep_patches.exe
*.mqo
*.3ds
Graphics/Wads/*.tga
Graphics/Wads/*/*.tga
Data/demo3.tr4
Maps/*/*-*-*.prj2
Maps/Demo/demo3.prj2
Graphics/Wads/conditionzerosas/bak
Graphics/Wads/shotgunanim/lara.was
Graphics/Wads/shotgunanim/lara.wad
Graphics/Wads/shotgunanim/lara.swd
Graphics/Wads/shotgunanim/lara.sfx
Graphics/Wads/shotgunanim/lara.sam
Graphics/Wads/classicaod2.wad2
Graphics/Wads/classicaod.wad2
Graphics/Wads/flareanim/flareanim.sam
Graphics/Wads/flareanim/flareanim.sfx
Graphics/Wads/flareanim/flareanim.swd
Graphics/Wads/flareanim/flareanim.wad
Graphics/Wads/flareanim/flareanim.was
Graphics/Wads/ORIGINAL_baddy_1.sam
Graphics/Wads/ORIGINAL_baddy_1.sfx
Graphics/Wads/ORIGINAL_baddy_1.swd
Graphics/Wads/ORIGINAL_baddy_1.wad
Graphics/Wads/ORIGINAL_baddy_1.was
Graphics/Wads/test.wad2
Graphics/Wads/test.xml
Graphics/Wads/testglasses/testglasses.sam
Graphics/Wads/testglasses/testglasses.sfx
Graphics/Wads/testglasses/testglasses.swd
Graphics/Wads/testglasses/testglasses.wad
Graphics/Wads/testglasses/testglasses.was
flep.bak.cfg
