
*_log.txt
*.log
LastExtraction.lst
shot***.bmp
*.mem
LastExtraction.lst
Last_Crash_*.txt
savegame.*
backgame.*
log_tom2pc.txt
autosave.prj
NG_Settings.bin
NG_Tom2Pc_Last_Log.txt
*.lnk
DETECTED CRASH.txt
db_patches_crash.bin
Script/.vscode/
Exported_*.txt
*.trw
Crash_Report_*.txt
db_patches_crash.bin
NG_Settings.bin
db_patches_crash.bin
NG_Settings.bin
*_warm_up_log.txt
flep.cfg
*t5m*.*
*.trmvb
*.zip
/Graphics/Wads/*.3ds
/Graphics/Wads/*.tga
/Graphics/Wads/*.trw
Graphics/Wads/catatest.was
Graphics/Wads/catatest.wad
Graphics/Wads/catatest.swd
Graphics/Wads/catatest.sfx
Graphics/Wads/catatest.sam
tomb4.bak_before_new_flep_patches.exe
*.mqo
*.3ds
Graphics/Wads/*.tga
Graphics/Wads/*/*.tga
Data/demo3.tr4
Maps/*/*-*-*.prj2
Maps/Demo/demo3.prj2
Graphics/Wads/conditionzerosas/bak
Graphics/Wads/shotgunanim/lara.was
Graphics/Wads/shotgunanim/lara.wad
Graphics/Wads/shotgunanim/lara.swd
Graphics/Wads/shotgunanim/lara.sfx
Graphics/Wads/shotgunanim/lara.sam
Graphics/Wads/classicaod2.wad2
Graphics/Wads/classicaod.wad2
Graphics/Wads/flareanim/flareanim.sam
Graphics/Wads/flareanim/flareanim.sfx
Graphics/Wads/flareanim/flareanim.swd
Graphics/Wads/flareanim/flareanim.wad
Graphics/Wads/flareanim/flareanim.was
Graphics/Wads/ORIGINAL_baddy_1.sam
Graphics/Wads/ORIGINAL_baddy_1.sfx
Graphics/Wads/ORIGINAL_baddy_1.swd
Graphics/Wads/ORIGINAL_baddy_1.wad
Graphics/Wads/ORIGINAL_baddy_1.was
Graphics/Wads/test.wad2
Graphics/Wads/test.xml
Graphics/Wads/testglasses/testglasses.sam
Graphics/Wads/testglasses/testglasses.sfx
Graphics/Wads/testglasses/testglasses.swd
Graphics/Wads/testglasses/testglasses.wad
Graphics/Wads/testglasses/testglasses.was
flep.bak.cfg
Maps/Demo/backup/
Graphics/Wads/backup_demo/
flep/*
Data/demo_with_k_baddy.tr4
Data/demo_with_k_baddy.tr4.bak
Data/DEMO_WITH_K_BADDY2.TR4
Graphics/Wads/demo.TOM
Graphics/Wads/demo.TXT
Graphics/Wads/demo_with_k_baddy.CD
Graphics/Wads/demo_with_k_baddy.sam
Graphics/Wads/demo_with_k_baddy.sfx
Graphics/Wads/demo_with_k_baddy.swd
Graphics/Wads/demo_with_k_baddy.TOM
Graphics/Wads/demo_with_k_baddy.TXT
Graphics/Wads/demo_with_k_baddy.wad
Graphics/Wads/demo_with_k_baddy.was
Sound/LevelSFX Creator/_all_new_sounds.xml
Sound/LevelSFX Creator/SoundsTDR.txt
Sound/Samples_TDR
Sound/Samples/Lara_Voice/old/
Sound/Samples/Lara_Voice/extracted/
Graphics/BtB2020_Outfit
Graphics/Kapu_Tr2GymRemakeWithJoints
Graphics/Wads/KurtisBaddy/BeforeMovingTorso
Graphics/Winter-Green.*
Graphics/Wads/classicaod*
Data/*.tga
Data/*.bmp
Graphics/Wads/stuff_not_for_git/
